/* @tailwind base;
@tailwind components;
@tailwind utilities; */
/* 
@tailwind base;
@tailwind components;
@tailwind utilities; */

 @import "tailwindcss"; 
 /* @import "tailwindcss/base"; 
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */

/* @tailwind base;
@tailwind components;
@tailwind utilities; */
